appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
Automat==0.8.0
bcrypt==3.1.7
black==19.10b0
blueprint==3.4.2
bson==0.5.8
certifi==2019.9.11
cffi==1.13.2
Click==7.0
constantly==15.1.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-PyMongo==2.3.0
Flask-SocketIO==4.2.1
flaskwebgui==0.1.1
gobject==0.1.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pathspec==0.6.0
playsound==1.2.2
psutil==5.6.7
pycairo==1.18.2
pycparser==2.19
PyGObject==3.34.0
PyHamcrest==1.9.0
pylint==2.4.4
pymongo==3.9.0
python-dateutil==2.8.1
python-engineio==3.10.0
python-socketio==4.3.1
regex==2019.11.1
ruamel.yaml==0.16.5
six==1.13.0
sllurp==0.5.1
toml==0.10.0
Twisted==19.10.0
typed-ast==1.4.0
vext==0.7.3
vext.gi==0.7.0
Werkzeug==0.16.0
whichcraft==0.6.1
wrapt==1.11.2
zope.interface==4.7.1